{% extends "base.html" %}
{% from "macros.html" import render_pagination,render_jobs %}
{% block body %}
 <div class="jumbotron">
    <div class="container">
         <h1>JOBPLUS4-5</h1>
         <p>好工作尽在jobplus</p>
         <p><a class="btn btn-primary btn-lg" href="#" role="button">Go</a></p>
         </div>
         </div>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">热门职位</a></li>
    {% for job in jobs %}
        {{render_jobs(job)}}
    {% endfor %}
</ul>

    <div class="row">
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">热门公司</a></li>
</ul>
</div>
{% endblock %}
